       Variable                                               Desc
0       Table_1  International migrant stock at mid-year by sex...
1       Table_2  Total population at mid-year by sex and by maj...
2       Table_3  International migrant stock as a percentage of...
3       Table_4  Female migrants as a percentage of the interna...
4       Table_5  Annual rate of change of the migrant stock by ...
5         ANNEX  Classification of countries and areas by major...
6         NOTES                                              NOTES
7    Table_6_PR  Refugees as a percentage of the international ...
8   Table_6_Est   Estimated refugee stock at mid-year (both sexes)
9   Table_6_RoC         Annual rate of change of the refugee stock
10          ToD                                       Type of Data

In [3]:
Dataset_1.head()

,Code,Year,Gender,Table_1,Table_2,Table_3,Table_4,Table_6_PR,Table_6_Est
0,900,1990,T,152563212.0,5.309668e+09,2.873310,NaN,12.346732,18836571.0
1,901,1990,T,82378628.0,1.144463e+09,7.198015,NaN,2.445494,2014564.0
2,902,1990,T,70184584.0,4.165205e+09,1.685021,NaN,23.968236,16822007.0
3,941,1990,T,11075966.0,5.100576e+08,2.171513,NaN,45.565880,5048391.0
4,934,1990,T,59105261.0,3.655147e+09,1.617042,NaN,19.919743,11773616.0